.floating-dashboard {
  max-height: 700px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  color: #01597f;
  overflow: hidden;
}

.item-description-container {
  flex: 2;
  padding: 30px 20px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-description-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.item-description-icon {
  height: 30px;
}

.clickable-icon {
  cursor: pointer;
}

.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 100px;
  text-align: center;
}

.details-item {
  flex-grow: 1;
}

.item-description-title {
  font-size: 24px;
  font-weight: 500;
}

.options-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.button-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-description-btn {
  background-color: #00dd44;
  padding: 10px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.item-description-btn:hover {
  background-color: #f0f1f1;
  color: #002f3f;
}

.item-content-container {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px #002f3f solid;
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

.item-content-navbar {
  display: flex;
  color: #002f3f;
  padding: 12px;
}

.item-content-navbar-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px #01597f solid;
  cursor: pointer;
}

.item-content-navbar-separator {
  flex-grow: 1;
  border-bottom: 1px #01597f solid;
}

.item-content-navbar-item.selected-navbar-item {
  flex-grow: 0;
  border: 1px #01597f solid;
  border-bottom: none;
}

.item-content-navbar-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.item-content-text {
  margin: 0;
  font-size: 14px;
}

object {
  min-height: 400px;
}

.item-dashboard-container {
  background-color: #002f3f;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px 0;
  gap: 2px;
}

.dashboard-close-section {
  padding: 20px 20px 0 0;
  height: min-content;
  display: flex;
  justify-content: flex-end;
}

.dashboard-close-icon {
  height: 40px;
}

.dashboard-section {
  flex-grow: 1;
  padding:  0 10px;
}

.dashboard-card {
  width: 100%;
  padding: 3px 0;
  height: min-content;
  border-radius: 20px;
  background-color: #ffffff;
}

.dashboard-section-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.dashboard-section-icon {
  height: 15px;
  margin-right: 10px;
}

.dashboard-section-title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.dashboard-section-content {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.resumen-visual-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.resumen-visual-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.resumen-visual-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.resumen-text {
  font-size: 12px;
  font-weight: 700;
}

ringchart {
  position: relative;
  width: 100px;
  height: 100px;
  background: #00ff44;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  &::before {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: white;
    z-index: 998;
  }
}

arc[data-value] {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background: #dd1111;
  -webkit-clip-path: polygon(50% 0, 50% 50%, 100% 50%, 100% 0);
  clip-path: polygon(50% 0, 50% 50%, 100% 50%, 100% 0);
  &::before {
    content: attr(data-name);
    position: absolute;
    bottom: 80%;
    left: 50%;
    color: white;
    z-index: 999;
  }
}

.comentarios-sin-comemtarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.comentarios-sin-comemtarios p {
  text-align: center;
}

/* Define color variables */
:root {
  --color-primary: #002f3f;
  --color-primary-light: #01597f;
  --color-accent: #00c6a1;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-background: #ffffff;
}

.formulario-nuevo-comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 90%;
  text-overflow: clip;
  border: 2px solid #00dd44;
  border-radius: 5px;
  font-size: 10px;
  color: var(--color-text-primary);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--color-accent);
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #00dd44;
  color: var(--color-background);
  border: none;
  width: 90%;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--color-primary-light);
}

@media (min-width: 1201px) {
  .close-item {
    display: none;
  }
}

@media (max-width: 1200px) {
  .dashboard-close-section {
    display: none;
  }

  .item-dashboard-container {
    flex-direction: row;
    gap: 2px;
  }

  .dashboard-card {
    height: 150px;
  }
}


.item-content {
  overflow: scroll;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #002f3f;
  text-align: justify;
}

.content-sub-title {
  font-weight: 500;
  color: #002f3f;
  margin-bottom: 8px;
}

.content-text {
  margin-bottom: 10px;
}

.content-icon {
  height: 15px;
  margin-right: 8px;
}

.content-underlined-text {
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.content-text-list {
  list-style-type: none;
  padding-left: 0;
}

.content-text-list li {
  display: flex ;
  font-weight: 500;
  margin-bottom: 8px;
}

.content-text-list li:before {
  content: "\2022";
  color: #002f3f;
  margin: 0 10px;
  display: inline-block;
}

.content-labels-container {
  display: flex;
}

.content-label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 16px;
}

.content-flex-child {
  flex-grow: 1;
}

.content-icon {
  margin-right: 8px;
}

.content-sub-title {
  font-weight: 500;
  color: #002f3f;
}

.content-label-warning {
  padding: 2px 5px;
  font-size: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffc107;
  color: #002f3f;
  font-weight: 500;
  transition: background-color 0.3s;
}

.content-label-warning:hover {
  background-color: #ffb300;
}

.item-video-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.item-video {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.item-results-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 8px;
}

.results-label {
  font-size: 2em;
  color: #002f3f;
}

.item-description-header-section.evaluacion-details-item {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacio entre los elementos */
  margin-right: 20px;
}

.evaluacion-label {
  display: flex;
  align-items: center;
}

.evaluacion-label-icon {
  height: 10px;
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

.evaluacion-label-text {
  font-size: 10px;
  font-weight: 500;
}